Resources/Xsd/settings.de.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SettingsConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Setting">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="Name" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation>Eindeutiger Name der Einstellung.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Type" use="required">
                  <xs:annotation>
                    <xs:documentation>Zugrundeliegender Typ der Einstellung.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="System.String">
                        <xs:annotation>
                          <xs:documentation>
                            Die Einstellung ist ein String.
                            Einstellungen diesen Typs können in beliebige Objekte umgewandelt werden, die sich in von und nach System.String konvertieren lassen.
                            Sehen Sie hierzu die Dokumentation des Interfaces 'IStringSettingConvertible' an.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="System.Int32">
                        <xs:annotation>
                          <xs:documentation>Die Einstellung ist eine 32-Bit Ganzahl mit Vorzeichen.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="System.Boolean">
                        <xs:annotation>
                          <xs:documentation>Die Einstellung ist ein Boolean/Wahrheitswert.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="IsNull" use="optional">
                  <xs:annotation>
                    <xs:documentation>Stellt fest, ob die Einstellung den Wert "Null" haben kann, oder nicht.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="True" />
                      <xs:enumeration value="False" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" use="required">
        <xs:annotation>
          <xs:documentation>Die Version des Dokuments.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:enumeration value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Identifier" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Eindeutiger Name der Gruppe ("Section").</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>