Shared/AlarmWorkflow.Shared/Resources/settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SettingsConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Setting">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="Name" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation>Unique name of the setting.</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Type" use="required">
                  <xs:annotation>
                    <xs:documentation>Underlying type of the setting.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="System.String">
                        <xs:annotation>
                          <xs:documentation>
                            Setting is a String.
                            Settings of this type can be converted in special objects which can be converted from and to a System.String.
                            Please see the documentation of the interface 'IStringSettingConvertible' for this.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="System.Int32">
                        <xs:annotation>
                          <xs:documentation>Setting is a 32-bit signed integer number.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="System.Boolean">
                        <xs:annotation>
                          <xs:documentation>Setting is a boolean.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="System.Single">
                        <xs:annotation>
                          <xs:documentation>Setting is a single-precision floating-point number.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                      <xs:enumeration value="System.Double">
                        <xs:annotation>
                          <xs:documentation>Setting is a double-precision floating-point number.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="IsNull" use="optional">
                  <xs:annotation>
                    <xs:documentation>Determines whether or not the setting can have 'null' as a possible value.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="True" />
                      <xs:enumeration value="False" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Identifier" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Unique name of this group ("section").</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Version" type="xs:integer" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>