Tools/MigrateUserSettingsFile/Resources/user.settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Section">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="UserSetting">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="Name" type="xs:string" use="required" />
                      <xs:attribute name="IsNull" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Identifier" use="required" />
          </xs:complexType>          
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:integer" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>