BackendServices/AlarmWorkflow.BackendService.Settings/Resources/settings.info.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SettingsDisplayConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Setting">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>Name of the setting.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="DisplayText" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>Display text of the setting.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Description" type="xs:string" use="optional">
                    <xs:annotation>
                      <xs:documentation>Description of the setting.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Category" type="xs:string" use="optional">
                    <xs:annotation>
                      <xs:documentation>Category in which the setting shall be shown.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Editor" type="xs:string" use="optional">
                    <xs:annotation>
                      <xs:documentation>Which editor shall edit this setting.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="EditorParameter" type="xs:string" use="optional">
                    <xs:annotation>
                      <xs:documentation>The parameters, which will be handed over to the editor for editing.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="IsDynamic" type="xs:boolean" use="optional">
                    <xs:annotation>
                      <xs:documentation>Specifies whether or not changes made to this setting will be dynamically fetched and applied again by the consumer.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>Group (or section) for the settings.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="DisplayText" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>Display text of the group.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Description" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>Description of the group.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Order" type="xs:integer" use="optional">
              <xs:annotation>
                <xs:documentation>The order of this group within all groups.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Parent" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>Which group this group shall be located in.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>