Backend/ServiceContracts/Resources/BackendServiceLocationSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="service">
          <xs:complexType>
            <xs:attribute name="contract" type="xs:string" use="required" />
            <xs:attribute name="service" type="xs:string" use="required" />
            <xs:attribute name="binding" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="NetTcp" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="order" type="xs:integer" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>